{% extends 'base.html.twig' %}

{% block title %}{{ 'giftCard.head.title'|trans }}{% endblock %}
{% block body %}
    <div class="giftCard-index">
        <h1 class="text-center mb-5 text-primary">{{ 'giftCard.index.h1'|trans }}</h1>
        {% if app.request.locale == 'et' %}
            <div class="d-flex justify-content-center">
                <img src="{{ asset('build/images/Carte-Cadeau-EE-1.png') }}" alt="" class="card-image">
            </div>
        {% else %}
            <div class="d-flex justify-content-center">
                <img src="{{ asset('build/images/Fabimage-carte-cadeau-FR-1.png') }}" alt="" class="card-image">
            </div>
        {% endif %}
        {% if app.request.get('formSent') %}
            <h5 class="main-p mx-auto mt-4">
                {{ 'giftCard.index.sent'|trans }}
            </h5>
        {% endif %}
        <h5 class="main-p mx-auto mt-5 fw-bold"> {{ 'giftCard.index.h5.1'|trans|raw }}</h5>
        <p class="main-p mx-auto "> {{ 'giftCard.index.p.1'|trans|raw }}</p>
        <h5 class="main-p mx-auto fw-bold"> {{ 'giftCard.index.h5.2'|trans|raw }}</h5>
        <ol class="main-p mx-auto "> {{ 'giftCard.index.ol.1'|trans|raw }}</ol>
        <p class="main-p mx-auto mb-5"> {{ 'giftCard.index.p.2'|trans|raw }}</p>
        <div class="form-container mx-auto">
            {{ form_start(form) }}
                <div class="d-flex flex-column mt-3">
                    {{ form_label(form.type, 'giftCard.index.form.type'|trans) }}
                    {{ form_widget(form.type) }}
                    {{ form_errors(form.type) }}
                </div>
                <div class="d-flex flex-column mt-3">
                    {{ form_label(form.name, 'giftCard.index.form.name'|trans) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="d-flex flex-column mt-3">
                    {{ form_label(form.phoneNumber, 'giftCard.index.form.phoneNumber'|trans) }}
                    {{ form_widget(form.phoneNumber) }}
                    {{ form_errors(form.phoneNumber) }}
                </div>
                <div class="d-flex flex-column mt-3">
                    {{ form_label(form.email, 'giftCard.index.form.email'|trans) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="d-flex flex-column mt-3">
                    {{ form_label(form.beneficiaryName, 'giftCard.index.form.beneficiaryName'|trans) }}
                    {{ form_widget(form.beneficiaryName) }}
                    {{ form_errors(form.beneficiaryName) }}
                </div>
                <div class="d-flex flex-column mt-3">
                    {{ form_label(form.postalCode, 'giftCard.index.form.p'|trans) }}
                    {{ form_widget(form.postalCode) }}
                    {{ form_errors(form.postalCode) }}
                </div>
                <div class="d-flex flex-column mt-3">
                    <div class="d-flex">
                        {{ form_label(form.isComing, 'giftCard.index.form.isComing'|trans) }}
                        <div class="ms-3 mt-1">
                            {{ form_widget(form.isComing) }}
                        </div>
                    </div>
                    {{ form_errors(form.isComing) }}
                </div>
                <div class="d-flex flex-column mt-3">
                    {{ form_label(form.commentary, 'giftCard.index.form.commentary'|trans) }}
                    {{ form_widget(form.commentary) }}
                    {{ form_errors(form.commentary) }}
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-secondary text-white mt-4 fs-5 px-4">{{ 'giftCard.button'|trans}}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}