{% extends 'base.html.twig' %}

{% block title %}{{ "home.head.title"|trans }}{% endblock %}
{% block metaDescription %}{{ "home.head.metaDescription"|trans }}{% endblock %}

{% block body %}
    <div class="home">
        <img src="{{ asset('build/images/Fabienne-HOME.jpg') }}" alt="" class="w-100 img-start">
        <div class="d-flex flex-column justify-content-center align-items-center text-primary title-container mt-5 mx-auto">
            <h1 class="text-center mx-4 mx-md-0 fs-1">{{ 'home.title'|trans|raw }}</h1>
        </div>
        <div class="d-flex justify-content-around flex-column flex-md-row align-items-center mt-4">
            <div class="container-video ms-xxl-5 d-flex">
                <iframe src="{{ 'home.video.link'|trans }}" title="{{ 'home.video'|trans }}" class="video"></iframe>
            </div>
            <div class="text-video p-1 mt-5 mt-md-0">
                <p class="">{{ 'home.textVideo'|trans|raw }}</p>
            </div>
        </div>
        <div class="presentation d-md-flex justify-content-center flex-column">
            <div class="top d-flex">
                <div class="left text-white d-flex flex-column">
                    <h2 class="mx-4 mt-4 fs-2">{{ 'home.presentaion.head.title'|trans|raw }}</h2>
                    <h3 class="mx-4 my-4 fs-5 lh-sm">{{ 'home.presentation.head.text'|trans|raw }}</h3>
                </div>
                <div class="right">
                    
                </div>
            </div>
            <div class="bottom d-flex">
                <div class="left">
                    <p class="text text-dark mb-5 mx-4 my-5">{{ 'home.presentation.body.text'|trans|raw }}</p>
                </div>
                <div class="right">
                    <img src="{{ asset('build/images/flower.jpg') }}" alt="{{ 'home.flowerImage'|trans }}" class="image">
                    <div class="decoration"></div>
                </div>
            </div>
        </div>
        <div class="mt-5 middle-text mx-auto">
            <p>{{'home.middle-text.p1'|trans|raw}}</p>
            <ol>
                {{'home.middle-text.p1.ol'|trans|raw}}
            </ol>
            <p>{{'home.middle-text.p2'|trans|raw}}</p>
            <ul>
                {{'home.middle-text.p2.ul'|trans|raw}}
            </ul>
            <p>{{'home.middle-text.p3'|trans|raw}}</p>
            <div class="d-flex justify-content-center">
                <a href="{{ path('contact_service') }}"><button class="btn btn-secondary text-white my-3"> {{ 'button.i-reserve-my-session'|trans }}</button></a>
            </div>
            <p>{{'home.middle-text.p4'|trans|raw}}</p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_service_index') }}"><button class="btn btn-secondary text-white my-3"> {{ 'button.service'|trans }}</button></a>
        </div>
    </div>
    {{ render(controller('App\\Controller\\ContactController::actuality')) }}
{% endblock %}
