{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <div class="service-index">
        <div class="top-container">
            <div class="title-image-container">
                <img src="{{ asset('build/images/serviceImage.jpg') }}" alt="" class="w-100 h-100">
            </div>
            <div class="head-text-container bg-light">
                <h1 class="text-center text-primary">{{ 'service.index.body.title'|trans }}</h1>
                <p class="mt-5">{{ 'service.index.p.1'|trans|raw }}</p>
            </div>
        </div>
        <div class="mx-auto w-50 mt-5 mb-5 offer">
            <h2 class="fs-h1 mt-3 text-center text-primary">{{ 'service.index.myOffer'|trans }}</h2>
            <p class="mt-4">{{ 'service.index.p.2'|trans|raw }}</p>
        </div>
        {% if app.user %}
        <div class="d-flex justify-content-center">
            <a href="{{ path('app_service_new') }}">
                <button class="btn btn-secondary text-white">{{'service.index.admin.newService'|trans}}</button>
            </a>
        </div>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-5 service-card-container mx-auto">
            {% for service in services %}
                <div class="service-card mt-5 d-flex flex-column">
                    {% include '_include/_card_service.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
