{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <div class="service-show">
        <div class="d-flex justify-content-center flex-column flex-md-row align-items-center">
            <div class="p-1 shadow me-md-3 d-flex justify-content-center picture-container">
                <img class="picture" src="{{ asset('uploads/images/pictures/' ~ service.picture) }}" alt="">
            </div>
            <div class="title d-flex justify-content-center flex-column mt-5 mt-md-0">
                <h1 class="fs-1">
                    {% if app.request.locale == 'fr' %}
                        {{ service.titleFr }}
                    {% elseif app.request.locale == 'es' %}
                        {{ service.titleEs }}
                    {% else %}
                        {{ service.titleEt }}
                    {% endif %}
                </h1>
                <p class="mt-4">
                    {% if app.request.locale == 'fr' %}
                        {{ service.underTitleFr }}
                    {% elseif app.request.locale == 'es' %}
                        {{ service.underTitleEs }}
                    {% else %}
                        {{ service.underTitleEt }}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="description mx-auto mt-3 mt-md-5">
            <p class="">
                {% if app.request.locale == 'fr' %}
                    {{ service.descriptionFr|raw }}
                {% elseif app.request.locale == 'es' %}
                    {{ service.descriptionEs|raw }}
                {% else %}
                    {{ service.descriptionEt|raw }}
                {% endif %}
            </p>
        </div>
        <div class="d-flex justify-content-center mt-4 gap-3">
            <a href="{{ path('contact_service') }}"><button class="btn btn-secondary text-white">{{ 'service.show.appointment'|trans }}</button></a>
            {% if app.user %}
                <a href="{{ path('app_service_edit', {id: service.id}) }}" class=""><button class="btn btn-secondary text-white">Mettre a jour</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
