{% extends 'base.html.twig' %}

{% block title %}{{ 'company.head.title'|trans }}{% endblock %}
{% block metaDescription %}{{ "company.head.metaDescription"|trans }}{% endblock %}

{% block body %}
    <div class="company">
        <div class="top-container">
            <div class="title-image-container">
                <img src="{{ asset('build/images/Fabienne-COACHING-D\'IMAGE.jpg') }}" alt="" class="w-100 h-100">
            </div>
            <div class="head-text-container mx-auto bg-light">
                <h1 class="text-primary text-center title mx-auto">{{ 'company.content.title'|trans }}</h1>
            </div>
        </div>
        <div class="top-section mx-auto d-flex mt-5 flex-column flex-md-row-reverse">
            <div class="col-left me-md-5">
                <img src="{{ asset('build/images/company-image-1.png') }}" alt="">
                <div class="decoration"></div>
            </div>
            <div class="col-right mx-md-5">
                <h2 class="text-primary fs-1">{{ 'company.top-section.title'|trans}}</h2>
                <p class="mt-4">{{ 'company.top-section.text'|trans|raw }}</p>
                <ul>
                    <li class="mt-3">
                        {{ 'company.top-section-list.list.personalRessources'|trans|raw }}
                    </li>
                    <li class="mt-3">
                        {{ 'company.top-section-list.list.myBody'|trans|raw }}
                    </li>
                    <li class="mt-3">
                        {{ 'company.top-section-list.list.style'|trans|raw }}
                    </li>
                    <li class="mt-3">
                        {{ 'company.top-section-list.list.image'|trans|raw }}
                    </li>
                    <li class="mt-3">
                        {{ 'company.top-section-list.list.modeEthic'|trans|raw }}
                    </li>
                </ul>
                <p>{{ 'company.top-section.text.contactMe'|trans }}</p>
                <div class="d-flex justify-content-center mt-4">
                    <a href="{{ path('contact_service') }}">
                        <button class="btn btn-secondary rounded text-white text-center px-3">{{ 'company.button.contact'|trans }}</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="bottom-section mx-auto d-flex">
            <div class="col-left">
                <img src="{{ asset('build/images/company-image-2.png') }}" alt="">
                <div class="decoration"></div>
            </div>
            <div class="col-right">
                <h2 class="text-primary fs-1">{{ 'company.bottom-section.title'|trans }}</h2>
                <p class="mt-4">{{ 'company.bottom-section.text'|trans|raw }}</p>
                <ol>
                    <li>{{ 'company.bottom-section.ol.accompaniedMember'|trans|raw }}</li>
                    <li>{{ 'company.bottom-section.ol.collectifWorkshop'|trans|raw }}</li>
                </ol>
                <p>{{ 'company.bottom-section.list.label'|trans }}</p>
                <ul>
                    <li>{{ 'company.bottom-section.list.colorCloth'|trans }}</li>
                    <li>{{ 'company.bottom-section.list.colorimetry'|trans }}</li>
                    <li>{{ 'company.bottom-section.list.accessories'|trans }}</li>
                    <li>{{ 'company.bottom-section.list.image'|trans }}</li>
                    <li>{{ 'company.bottom-section.list.sevenStyle'|trans }}</li>
                    <li>{{ 'company.bottom-section.list.treeOfLife'|trans }}</li>
                </ul>
                <p>{{ 'company.bottom-section.endText'|trans|raw }}</p>
                <div class="d-flex justify-content-center mt-4">
                    <a href="{{ path('contact_service') }}">
                        <button class="btn btn-secondary rounded text-white text-center px-3">{{ 'company.button.quote'|trans }}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}