{% extends 'base.html.twig' %}

{% block title %}{{ 'Fabienne.head.title'|trans }}{% endblock %}
{% block metaDescription %}{{ "Fabienne.head.metaDescription"|trans }}{% endblock %}

{% block body %}
    <div class="fabienne">
        <div class="top-container">
            <div class="title-image-container">
                <img src="{{ asset('build/images/Fabienne-FABIENNE.jpg') }}" alt="" class="w-100 h-100">
            </div>
            <div class="head-text-container mx-auto bg-light">
                <h1 class="text-primary text-center">Fabienne Chmara</h1>
                <p class="text-center">{{ 'fabienne.title.p'|trans|raw }}</p>
            </div>
        </div>
        <div class="container-content mx-auto">
            <div class="container-column d-flex flex-column-reverse flex-md-row justify-content-around">
                <div class="column">
                    <h5 class="mb-4 mt-3 mt-md-0">{{ 'fabienne.leftColumn.h5.1'|trans|raw }}</h5>
                    <p>{{ 'fabienne.leftColumn.p.1'|trans|raw }}</p>
                </div>
                <div class="column">
                    <img src="{{ asset('build/images/fabienne-1.png') }}" alt="" class="w-100 image-1">
                    <div class="decoration"></div>
                </div>
            </div>
            <div class="d-flex justify-content-around flex-md-row container-row flex-column py-2 bg-white">
                <div class="column">
                    <img src="{{ asset('build/images/fabienne-2.png') }}" alt="" class="w-100 mt-5 image-2">
                </div>
                <div class="column">
                    <h5 class="mb-4 mt-3 mt-md-0">{{ 'fabienne.rightColumn.h5.1'|trans|raw }}</h5>
                    <p> {{"fabienne.rightColumn.p.1"|trans|raw}} </p>
                </div>
            </div>
            <div class="container-column d-flex flex-column flex-md-row justify-content-around">
                <div class="column">
                    <h5 class="mb-4 mt-3 mt-md-0">{{ 'fabienne.leftColumn.h5.2'|trans|raw }}</h5>
                    <p>{{ 'fabienne.leftColumn.p.2'|trans|raw }}</p>
                    <ul>
                        {{ 'fabienne.leftcolumn.ul.1'|trans|raw }}
                    </ul>
                    <p>{{ 'fabienne.leftColumn.p.3'|trans|raw }}</p>
                </div>
                <div class="column">
                    <img src="{{ asset("build/images/AFIPP.png") }}" alt="" class="w-100 mt-5 image-AFIPP">
                    <p class="mt-4">{{ 'fabienne.AFIPP'|trans|raw }}</p>
                </div>
            </div>
            <div class="bg-white py-5">
                <div class="container-end mx-auto mt-5">
                    <h5 class="mb-4 mt-3 mt-md-0">{{ 'fabienne.h5.end'|trans|raw }}</h5>
                    <p>{{"fabienne.p.end"|trans|raw}}</p>
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('contact_service') }}"><button class="btn btn-secondary text-white my-3"> {{ 'button.i-reserve-my-session'|trans|raw }}</button></a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="small-commentary-container mx-auto">
            <h3 class="fw-bold fs-4">{{'smallCommentary.h3.1'|trans|raw}}</h3>
            <h5 class="fw-bold mt-3">{{'smallCommentary.h5.1'|trans|raw}}</h5>
            <p class="mt-4"> {{'smallCommentary.p.1'|trans|raw}} </p>
        </div>
    </div>
    {{ render(controller('App\\Controller\\ContactController::actuality')) }}
{% endblock %}