<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
</head>
<body>
    <p>{{ 'book.buyed.hello'|trans }}</p>
    <p>{{ 'book.buyed.email.p'|trans|raw }}</p>
    <a href="{{ app.request.getSchemeAndHttpHost() ~ path('app_download', {'token': token}) }}">{{ 'downloadBook'|trans }}</a>
    <p>{{ 'book.buyed.email.p.end'|trans|raw }}</p>
</body>
</html>