<a href="#book{{ loop.index }}">
    <div class="image-container mx-auto">
        {% if app.request.locale == 'fr' %}
            <img src="{{ asset('uploads/images/pictures/' ~ book.pictureFr) }}" alt="" class="w-100 h-100">
        {% elseif app.request.locale == 'es' %}
            <img src="{{ asset('uploads/images/pictures/' ~ book.pictureEs) }}" alt="" class="w-100 h-100">
        {% else %}
            <img src="{{ asset('uploads/images/pictures/' ~ book.pictureEt) }}" alt="" class="w-100 h-100">
        {% endif %}
    </div>
    <div>
        <div class="d-flex flex-column text-container mx-auto rounded-1">
            <div class="content-container">
                <h3 class="font-weight-bold text-center mt-3 fst-italic fs-6 mb-0">
                    {% if app.request.locale == 'fr' %}
                        {{ book.nameFr }}
                    {% elseif app.request.locale == 'es' %}
                        {{ book.nameEs }}
                    {% else %}
                        {{ book.nameEt }}
                    {% endif %}</h3>
                <p class="mt-2 mx-3">
                    {% if book.smallDescriptionFr %}
                        {% if app.request.locale == 'fr' %}
                            {{ book.smallDescriptionFr|nl2br }}
                        {% elseif app.request.locale == 'es' %}
                            {{ book.smallDescriptionEs|nl2br }}
                        {% else %}
                            {{ book.smallDescriptionEt|nl2br }}
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</a>
