<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
</head>
<body>
    <h3>Un.e {{ form.client }}, vous a envoyé une {{ form.type }}</h3>
    <p>Nom: {{ form.lastName }}</p>
    <p>Prénom: {{ form.firstName }}</p>
    <p>email : {{ form.email }}</p>
    <p>Numéro de téléphone : {{ form.phoneNumber }}</p>
    {% if form.agreements %}
        <p>{{ form.firstName }} {{ form.lastName }} ne souhaite pas recevoir des nouvelles ou offres.</p>
    {% endif %}
    <p>{{ form.message|nl2br }}</p>
</body>
</html>