{% extends 'base.html.twig' %}

{% block title %}PromotionalCode{% endblock %}

{% block body %}
    <h1>PromotionalCode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotional_code.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ promotional_code.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ promotional_code.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_promotional_code_index') }}">back to list</a>

    <a href="{{ path('app_promotional_code_edit', {'id': promotional_code.id}) }}">edit</a>

    {{ include('promotional_code/_delete_form.html.twig') }}
{% endblock %}
